body {
  background: #efeee7;
  }
  
h2, h3 {
  color: darkturquoise;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.image-vis {
  width: 120px;
  height: 120x;
  margin: 10px;
}

.padding {
  padding: 30px;
  background-color: white;
  margin-top: 30px;
}

#figure {
  position: relative;
}

#vis-border {
  border: solid darkturquoise;
}

#main {
  float: left;  
}

#main-image {
  width: 250px;
  height: 200px;
  margin-right: 20px;
  float: left;  
}

.button {
  background-color: darkturquoise;
  padding: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.table {
  margin-top: 40px;
}

.nav>li>a:hover, .nav>li>a:focus {
  background-color: lightgray;
}

/* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
@media (max-width: 480px) {
  .navbar li {
    padding: 10px;
  }

  .post {
    margin-right: 30px;
    margin-left: 30px;
  }

  .navbar ul {
    visibility: hidden;
  }


  #nav-select {
    visibility: visible;
  }

  .navbar {
    background-color: darkturquoise !important;
  }
 
}